.footer {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;

  nav {
    display: flex;
    justify-content: center;

    a {
      margin: 1rem;
      padding: 1rem;
    }
  }
}